{{ define "base" }}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
		<meta charset="utf-8">
		{{ template "head" . }}
	</head>
	<body>
		<header class="container">
			<nav>
				<ul><li><strong>MDBSSG</strong></li></ul>
				<ul>
					<li><a href="/generate/">Gen</a></li>
					<li><a href="/new/">New</a></li>
					<li><a href="/changepwd/">Account</a></li>
					<li><a href="/signout/">Sign Out</a></li>
				</ul>
			</nav>
		</header>
		<main class="container">
			{{ if .Flash }}
			<article> {{ .Flash }} </article>
			{{ end }}
			{{ template "body" . }}
		</main>
	</body>
</html>
{{ end }}
