{{define "head"}}
{{end}}

{{define "body"}}
<form action="/signin/" method="post">
	<div class="grid">
		<label for="username">
			Username
			<input type="text"  id="username" name="username" placeholder="Username" required>
		</label>

		<label for="password">
			Password
			<input type="password" id="password" name="password" placeholder="Password" required>
		</label>
	</div>
	<button type="submit">Submit</button>
	<small>Need an account? <a href="/signup/">Click here to sign up!</a></small>
</form>
{{end}}
